@import '../../config.scss';

.container {
    margin: 20px 10px;
    display: flex;
}

.list-name {
    text-align: center;
}

.list-container {
    width: 75%;
    margin: 10px;
    border: 1px solid $mainColor;
    border-radius: 5px;

    display: block;
    float: right;

    .list-item__null {
        text-align: center;
        padding: 10px 50px;
        width: max-content;
        // border: 0.5px solid $mainColor;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .list-pagination {
        text-align: center;
        margin: 15px 0;

        ul {
            justify-content: center;
        }
    }

    .list-item {
        display: flex;

        .list-item__checkbox {
            text-align: center;
            margin: 0 20px;
            margin-top: 50px;
        }
        

        .list-item__container {
            display: flex;
            border: 1px solid $mainColor;
            border-radius: 2px;
            margin: 10px 50px;
            margin-left: 0px;
            width: 70%;

            .list-item__thumbnail {
                display: flex;
                text-align: center;
                margin: 10px 20px;
            }

            .list-item__thumbnail img {
                width: 150px;
                height: 100px;
                object-fit: cover;
            }
    
            .list-item__content {
                // width: 70%;
                display: inline-block;
                margin: 10px 0;
    
                .list-item__name {
                    font-weight: bold;
                    font-size: 25px;
                    margin: 0 32px;   
                }

                .list-item__author {
                    margin: 0 32px;
                }
    
                .list-item__description {
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-wrap: break-word;
                    text-align: justify;

                    margin: 0 32px;
                }
            }
        }

        .menu-btn {
            display: inline-block;
            margin-top: auto;
            margin-bottom: auto;

            .menu-btn__nav {
                color: black;
            }
        }
        
    }

    
}

.container-loading {
    text-align: center;
    margin: 20px 0;
}

.menu-btn__editpost {
    text-align: center;
    margin-bottom: 5px;
}

.menu-btn__delete {
    // display: inline-block;
    color: white;
    background-color: $red;
    padding: 5px 30px;
    border: 1px solid $red;
    border-radius: 2px;
    text-align: center;
}

.menu-btn__edit {
    color: white;
    background-color: $green;
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid $green;
    border-radius: 2px;
    text-align: center;
}

.list-btn {
    text-align: right;
    display: block;
    margin-right: 30px;
    margin-bottom: 10px;

    .menu-btn__delete {
        padding: 5px 10px;
        margin: 0 5px;
    }
}

@media screen and (max-width: 900px) {
    .container {
        text-align: center;
    }

    .list-container {
        width: auto;
        float: none;

        .list-item {
            text-align: initial;
            width: auto;
            
            .list-item__container {
                
                .list-item__content {
                    .list-item__name {
                        font-size: 18px;
                    }

                    .list-item__author {
                        font-size: 15px;
                    }
                }
            }
        }

        .menu-btn {
            margin-right: 10px;

            .menu-btn__delete {
                padding: 10px 15px;
            }

            
        }
    }
    
}

@media screen and (max-width: 420px) {
    .container {
        .list-item {
            display: flex;
    
            .list-item__checkbox {
                text-align: center;
                margin: 0 5px;
                margin-top: auto;
                margin-bottom: auto;
            }
            
    
            .list-item__container {
                display: flex;
                border: 1px solid $mainColor;
                border-radius: 2px;
                margin: 10px 0;
                margin-left: 0px;
    
                .list-item__thumbnail {
                    display: flex;
                    text-align: center;
                    margin: 10px;
                }
    
                .list-item__thumbnail img {
                    width: 70px;
                    height: 70px;
                    object-fit: cover;
                }
        
                .list-item__content {
                    // width: 70%;
                    display: inline-block;
                    margin: 10px 0;
        
                    .list-item__name {
                        font-weight: bold;
                        font-size: 15px;
                        margin: 0 10px;   
                    }
    
                    .list-item__author {
                        margin: 0 10px;
                        font-size: 10px;
                    }
        
                    .list-item__description {
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;  
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-wrap: break-word;
                        text-align: justify;
    
                        // margin: 0 32px;
                    }
                }
            }
    
            .menu-btn {
                display: inline-block;
                margin-top: auto;
                margin-bottom: auto;

                .menu-btn__delete {
                    margin: 0 10px;
                    font-size: 10px;
                }
            }
            
        }
    }
}