.container {
    margin: 8px;
    color: #333;
    padding: 8px 22px;
    background-color: #eeeeee;
    border-radius: 9999px;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
}
.active {
    color: white;
    background-color: #EB4A36;
}