@import '../../config.scss';

.ModifyPassWordContainer-container {
    margin: 20px 10px;
}

.ModifyPassWordContainer-container-tile {
    text-align: center;
    color: $mainColor;
}

.ModifyPassWordContainer-container-format {
    width: 75%;
    margin: 10px;
    border: 1px solid $mainColor;
    border-radius: 5px;

    display: inline-block;
    float: right;
}

// Chỉnh nội dung trong form
.ModifyPassWordContainer-child{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    .ModifyPassWordContainer-form{
        width: max-content;
        font-size: 18px;
        color: $mainColor;

        input {
            display: flexbox;
        }

        //cho về phía phải của định dạng nội dung nhập mật khẩu cũ, mới, ... 

        .ModifyPassWord-input-box-details{
            display: inline-block;
        }

        .ModifyPassWord-input-box{
            margin-bottom: 20px;

            input {
                //border
                border-color: $mainColor;
                border-radius: 5px;
                background-color: $placeholder-bg;
                border: 0px solid;
                height: 30px;
                //float: right;
                font-size: 16px;
                outline: none;
            }

            .input__inline {
                display: inline-block;
            }

            .ModifyPassWord-input-box-details{
                margin: 0 10px;
                width: 150px;
                text-align: right;
            }

            .ModifyPassWord-register-input{
                width: 200px;
                padding-left: 10px;
            }
        }
    }
}

form .ModifyPassWord-button{
    height: 45px;
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

//kích thước button
.ModifyPassWord-cancel input{
    height: 40px;
    width: 80px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
}

.ModifyPassWord-confirm input{
    height: 40px;
    width: 110px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
}

//chỉnh màu và độ chuyển màu

.ModifyPassWord-button-cancel{
    margin-right: 10px;
    color: #fff;
    background-color: rgb(65, 65, 65);
    transition: all 1s ease;
}

.ModifyPassWord-button-confirm{
    background-color: $mainColor;
    font-weight: 500;
    color: #fff;
    transition: all 1s ease;
}

//hiệu ứng button

.ModifyPassWord-button-cancel:hover{
    background-color: #fff;
    color: black;
    font-weight: 500;
    border: 1px solid rgb(65, 65, 65);
}

.ModifyPassWord-button-confirm:hover{
    background-color: #fff;
    color: $mainColor;
    font-weight: 500;
    border: 1px solid $mainColor;
}

@media (max-width:890px) {
    .ModifyPassWordContainer-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .ModifyPassWordContainer-form{
            font-size: 18px;
        }
    }

}

@media (max-width:540px) {
    .ModifyPassWordContainer-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .ModifyPassWordContainer-container-tile {
            text-align: center;
            color: $mainColor;
            font-size: 24px;
            margin-top: 40px;
            margin-bottom: 0;
        }

        .ModifyPassWordContainer-form{
            font-size: 15px;
            //padding: 10px 15px;
        }

        .ModifyPassWord-input-box{
            display: block;
            margin: 10px 10px 0px 10px;

            .ModifyPassWord-input-box-details {
                display: flex;
                margin-left: 0px;
                line-height: 32px;
                width: fit-content;
            }
    
            .ModifyPassWord-register-input {
                width: 100px;
            }
        }

        form .ModifyPassWord-button{
            height: 45px;
            margin-top: 8%;
            margin-bottom: 15%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 10px;
        }

        .ModifyPassWord-cancel input{
            height: 40px;
            width: 80px;
            outline: none;
            border: none;
            font-size: 13px;
            font-weight: 500;
            border-radius: 5px;
            letter-spacing: 1px;
        }
        
        .ModifyPassWord-confirm input{
            height: 40px;
            width: 110px;
            outline: none;
            border: none;
            font-size: 13px;
            font-weight: 500;
            border-radius: 5px;
            letter-spacing: 1px;
        }
    }
}

