@import '../../config.scss';

.container {
    margin: 0px 4%;
    .block-2 {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        padding: 8px;
        // background-color: red;
        button {
            padding: 8px 16px;
            border-radius: 6px;
            outline-style: none;
            background-color: $mainColor;
            border-style: none;
            color: #fff;
            margin: 8px;
            cursor: pointer;
        }
        button:hover {
            background-color: #b55143;
        }
        span {
            font-size: 20px;
            color: $mainColor;
            font-weight: 600;
            margin: 8px
        }
        input {
            padding: 8px;
            line-height: 20px;
            max-lines: 160px;
            border-radius: 6px;
            outline-style: none;
            border: solid $mainColor 2px;
            margin: 8px;
        }
    }
}
