@import '../../config.scss';

.DeleteUserscontainer {
    margin: 20px 10px;
}

.DeleteUserslist-name {
    text-align: center;
    color: $mainColor;
}

.DeleteUserslist-container {
    width: 75%;
    margin: 10px;
    border: 1px solid $mainColor;
    border-radius: 5px;

    display: block;
    float: right;

    .DeleteUserslist-item__null {
        text-align: center;
        padding: 10px 50px;
        width: max-content;
        // border: 0.5px solid $mainColor;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .DeleteUserslist-item {
        display: flex;

        .DeleteUserslist-item__checkbox {
            text-align: center;
            margin: 0 20px;
            margin-top: 40px;
        }
        

        .DeleteUserslist-item__container {
            display: flex;
            border: 1px solid $mainColor;
            border-radius: 2px;
            margin: 10px 50px;
            margin-left: 0px;
            width: 70%;

            .DeleteUserslist-item__thumbnail {
                display: flex;
                text-align: center;
                margin: 10px 20px;

                .DeleteUsersthumbnail {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    margin-bottom: 3%;
                }
            }
    
            .DeleteUserslist-item__content {
                // width: 70%;
                //display: inline-block;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px 0;
    
                .DeleteUserslist-item__name {
                    
                    font-weight: bold;
                    font-size: 22px;
                    margin: 0 10px;   
                }

                /*.DeleteUserslist-item__author {
                    margin: 0 32px;
                }
    
                .DeleteUserslist-item__description {
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-wrap: break-word;
                    text-align: justify;

                    margin: 0 32px;
                }*/
            }
        }

        .DeleteUsersmenu-btn {
            display: inline-block;
            margin-top: 35px;
        }
        
    }

    
}



.DeleteUsersmenu-btn__delete {
    // display: inline-block;
    color: white;
    background-color: $red;
    padding: 5px 30px;
    border: 1px solid $red;
    border-radius: 2px;
    text-align: center;
}

.DeleteUsersmenu-btn__edit {
    color: white;
    background-color: $green;
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid $green;
    border-radius: 2px;
    text-align: center;
}

.DeleteUserslist-btn {
    text-align: right;
    display: block;
    margin-right: 30px;
    margin-bottom: 10px;

    .DeleteUsersmenu-btn__delete {
        padding: 5px 10px;
        margin: 0 5px;
    }
}


@media screen and (max-width: 1000px) {
    
}

@media screen and (max-width: 900px) {
    .DeleteUserscontainer {
        text-align: center;
    }

    .DeleteUserslist-container {
        width: auto;
        float: none;

        .DeleteUserslist-item {
            text-align: initial;
            width: auto;
            
            .DeleteUserslist-item__container {
                
                .DeleteUserslist-item__content {
                    .DeleteUserslist-item__name {
                        font-size: 20px;
                    }

                    .DeleteUserslist-item__author {
                        font-size: 15px;
                    }
                }
            }
        }

        .DeleteUsersmenu-btn {
            margin-right: 10px;

            .DeleteUsersmenu-btn__delete {
                padding: 10px 15px;
            }
        }
    }
    
}