@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);

.container {
    display: block;
    height: 50vh;
}
.forgotpass{

    border: #CA5A4B solid 2px;
    border-radius: 15px; /*uốn cong góc*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
h3{
    color: #CA5A4B;
    text-align: center;
    font-family: 'Roboto Condensed';
    font-size: 20px;
}
table{
    width: 450px;
}
.user{
    color: #CA5A4B;
    width: 145px;
    text-align: right;
    font-family: 'Roboto Condensed';
    font-size: 18px;
}
.textbox{
    background-color: white;
    padding: 5px 10px;
    border: rgb(214, 214, 214) solid 2px;
    border-radius:  5px;
    margin-left: 18px;
    
}
.button{
    border: #CA5A4B solid 2px;
    font-family: 'Roboto Condensed';
    background-color: #CA5A4B;
    color: white;
    padding: 2px 5px;
}

.center{
    text-align: center;
}