@import "../../config.scss";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    p {
        font-size: 20px;
        font-weight: bold;
        color: $mainColor;
    }
}
.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-color: $mainColor;
    border-style: solid;
    border-radius: 15px;
    justify-content: space-between;

    margin-top: 60px;
    padding: 30px 70px;
    // width: max-content;
    font-size: 18px;
    color: $mainColor;
    h2 {
        text-align: center;
        color: $mainColor;
    }
}

.form-input {
    margin-bottom: 20px;
    
    label {
        margin: 0 10px;
        width: 70px;
        text-align: right;
        display: inline-block;
    }

    input {
        //border

        width: 350px;
        border-color: $mainColor;
        border-radius: 5px;
        background-color: $placeholder-bg;
        border: 0px solid;
        height: 30px;
        float: right;
    }
}

.submit-btn {
    cursor: pointer;
    background-color: $mainColor;
    color: #fff;
    box-shadow: none;
    border: 1px solid $mainColor;

    border-radius: 8px;
    border: 1px solid;
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;    
    margin-top: 20px;
}

.form-via {
    width: 100%;

    .form-link {
        margin: 0px;
        margin-left: 10px;
        font-size: 15px;
        float: right;
        color: $mainColor;
        text-decoration: none;
    }
    
}

.text-danger {
    text-align: right;
    font-size: small;
    color: #f82a2a;
    padding: 4px 0px;
}

@media screen and (max-width:600px) {
    .login-form {
        padding: 10px 15px;    
        font-size: 15px;
    }
    .form-input {
        input {
            width: 160px;
        }

    }
}
