@import '../../config.scss';

.user-menu {
    height: fit-content;
    border: 1px solid $mainColor;
    border-radius: 5px;
    width: 20%;

    margin: 10px;
    text-align: center;

    display: inline-block;

    .user-name {
        font-weight: bold;
    }

    .user-avatar img {
        margin: 30px 0;
        max-width: 80px;
        border-radius: 50%;
    }

    .menu-list {
        list-style: none;
        color: black;
        margin-top: 20px;
    }

    .menu-item {
        padding: 10px 30px;
        text-align: left;

        .menu-item__icon {
            display: inline;
            padding-right: 10px;

            svg {
                padding-bottom: 3px;
            }
        }

        .menu-item__name {
            display: inline;
            height: 30px;
        }

        .menu-item__link {
            text-decoration: none;
            color: black;
            display: flex;
        }
    }

    .menu-btn {
        padding: 20px 0;

        .menu-btn__logout{
            color: white;
            background-color: $mainColor;
            border: 1px solid $mainColor;
            border-radius: 5px;
            padding: 10px 20px;
        }

        .menu-btn__logout:hover {
            color: $mainColor;
            background-color: white;
            border: 1.5px solid $mainColor;
        }
    }
}

.picked {
    font-weight: bold;
}

@media screen and (max-width: 1000px) {
    .user-menu {
        font-size: 14px;
        
        .menu-item {
            padding: 10px 15px;
        }
    }
}

@media screen and (max-width: 900px) {
    .user-menu {
        display: none;
    }
}