@import '../../config.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;

    .not-found-container__img img {
        max-width: 150px;
    }

    .not-found-container__noti {
        font-weight: bold;
        font-size: 50px;
    }
}